<div class="row">
    <div class="col-lg-4 text-center " style="margin-bottom: 100px; margin-top: 30px;">
        <img width="400px " height="300px" src="../../assets/main1.jpg" alt="">
    </div>
    <div class="col-lg-8 text-center bg-gray">
    <h1>
          product name</h1>
    
    
    
    <hr>
    <h3>product category</h3>
    <hr>
    <span>
    200RS
    </span>
    
                    <hr>
    <p>
        description
    </p>
    <h4>select qauntity</h4>
    <span>
        <select name="" id="">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
        </select>
    </span>
    <hr>
    <button class="btn btn-warning text-light">
        Add to cart
    </button>
    <button class="btn btn-warning text-light " style="margin-left:40px;">
        Buy now</button>
    </div></div>
    <hr>
    
    <h1 class="text-center text-primary">MY PRODUCTS</h1>
<div class="row">
<div class="col-lg-4 text-center"  >

          <h2>
             cakes
             </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg">

<p>
  description :
</p>

<h1>
 Price: RS
</h1>
<h1>
  stock:Qty.
</h1>


</div>

<div class="row">
    <div class="col-lg-4 text-center"  >
    
              <h2>
                 cakes
                 </h2>
    <img width="300px" height="300px" src="../../assets/main2.jpg">
    
    <p>
      description :
    </p>
    
    <h1>
     Price: RS
    </h1>
    <h1>
      stock:Qty.
    </h1>
    
    
    </div>
    
    
    </div>
    <div class="col-lg-4 text-center"  >

        <h2>
           cakes
           </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg">

<p>
description :
</p>

<h1>
Price: RS
</h1>
<h1>
stock:Qty.
</h1>


</div>
<div class="col-lg-4 text-center"  >

    <h2>
       cakes
       </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg">

<p>
description :
</p>

<h1>
Price: RS
</h1>
<h1>
stock:Qty.
</h1>


</div>
<div class="col-lg-4 text-center"  >

    <h2>
       cakes
       </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg">

<p>
description :
</p>

<h1>
Price: RS
</h1>
<h1>
stock:Qty.
</h1>


</div>
<div class="col-lg-4 text-center"  >

    <h2>
       cakes
       </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg">

<p>
description :
</p>

<h1>
Price: RS
</h1>
<h1>
stock:Qty.
</h1>


</div>
</div>
