<h1 class="text-center text-primary">MY PRODUCTS</h1>
<div class="row">
<div class="col-lg-4 text-center"  >
<a routerLink="/details-cookies">
          <h2>
             cakes
             </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg"></a>

<p>
  description :
</p>

<h1>
 Price: RS
</h1>
<h1>
  stock:Qty.
</h1>


</div>


    <div class="col-lg-4 text-center"  >
      <a routerLink="/details-cookies">
              <h2>
                 cakes
                 </h2>
    <img width="300px" height="300px" src="../../assets/main2.jpg"></a>
    
    <p>
      description :
    </p>
    
    <h1>
     Price: RS
    </h1>
    <h1>
      stock:Qty.
    </h1>
    
    
    
    
    
    </div>
    <div class="col-lg-4 text-center"  >
      <a routerLink="/details-cookies">
        <h2>
           cakes
           </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg"></a>

<p>
description :
</p>

<h1>
Price: RS
</h1>
<h1>
stock:Qty.
</h1>


</div>
<div class="col-lg-4 text-center"  >
  <a routerLink="/details-cookies">
    <h2>
       cakes
       </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg"></a>

<p>
description :
</p>

<h1>
Price: RS
</h1>
<h1>
stock:Qty.
</h1>


</div>
<div class="col-lg-4 text-center"  >
  <a routerLink="/details-cookies">
    <h2>
       cakes
       </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg"></a>

<p>
description :
</p>

<h1>
Price: RS
</h1>
<h1>
stock:Qty.
</h1>


</div>
<div class="col-lg-4 text-center"  >
  <a routerLink="/details-cookies">
    <h2>
       cakes
       </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg"></a>

<p>
description :
</p>

<h1>
Price: RS
</h1>
<h1>
stock:Qty.
</h1>


</div><div class="col-lg-4 text-center"  >
  <a routerLink="/details-cookies">
    <h2>
       cakes
       </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg"></a>

<p>
description :
</p>

<h1>
Price: RS
</h1>
<h1>
stock:Qty.
</h1>


</div>
<div class="col-lg-4 text-center"  >
  <a routerLink="/details-cookies">
    <h2>
       cakes
       </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg"></a>

<p>
description :
</p>

<h1>
Price: RS
</h1>
<h1>
stock:Qty.
</h1>


</div><div class="col-lg-4 text-center"  >
  <a routerLink="/details-cookies">
    <h2>
       cakes
       </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg"></a>

<p>
description :
</p>

<h1>
Price: RS
</h1>
<h1>
stock:Qty.
</h1>


</div>
<div class="col-lg-4 text-center"  >
  <a routerLink="/details-cookies">
    <h2>
       cakes
       </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg"></a>

<p>
description :
</p>

<h1>
Price: RS
</h1>
<h1>
stock:Qty.
</h1>


</div><div class="col-lg-4 text-center"  >
  <a routerLink="/details-cookies">
    <h2>
       cakes
       </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg"></a>

<p>
description :
</p>

<h1>
Price: RS
</h1>
<h1>
stock:Qty.
</h1>


</div>
<div class="col-lg-4 text-center"  >
  <a routerLink="/details-cookies">
    <h2>
       cakes
       </h2>
<img width="300px" height="300px" src="../../assets/main2.jpg"></a>

<p>
description :
</p>

<h1>
Price: RS
</h1>
<h1>
stock:Qty.
</h1>


</div>
</div>